@import "src/app/constants/styles/stylesConstants.scss";

.header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    background-color: $mainThemeColor1;
    position: fixed;
    margin-top: 0;
    &__logoBar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 70%;
        h1{
            color:$mainThemeColor2;
            padding: 15px;
        }
        
        img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
    }
    &__topNavBar{
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30%;
        &__links{
            display: flex;
          color: white;
          align-items: center;
          text-decoration: none;
          a{
            color: white;
            align-items: center;
            text-decoration: none;
            padding: 10px;
            &:hover{
                background-color: $mainThemeColor3;
                border: transparentize($color: #000000, $amount: 0);
            border-radius: 5px; 
              }
          }
          
        }
       &_notSignedIn {
           display: flex;
           button{
            padding: 10px;
            border: solid;
            width: 100px;
            border-radius: 5px;
            background-color: rgb(74, 253, 169);
           }
           &--hidden {
            display:none} 
        }
        &_SignedIn {
            display: flex;
            button{
             padding: 10px;
             border: solid;
             border-radius: 5px;
             width: 100px;
             background-color: rgb(223, 23, 57); 
             
            }
            &--hidden {
                display:none;}
         }
        
    }
}


