<div class="header">
    <div class="header__logoBar">
<img src="https://www.meme-arsenal.com/memes/c994dd7f9be9984182045a43c1177122.jpg">
<h1>Lazy-shop.com</h1>
    </div>
    <div class="header__topNavBar">
        <div class="header__topNavBar__links">
<a routerLink="/products">Products</a>
<a routerLink="/cart">Cart</a>
</div>
<div class="header__topNavBar_notSignedIn" [ngClass]="{'header__topNavBar_notSignedIn--hidden': isLoged}">
    <button type="button"  (click)="openModalSignIn()" >Sign in</button>
    <button type="button"  (click)="openModalSignUp()" >Sign up</button>
</div>
<div class="header__topNavBar_SignedIn" [ngClass]="{'header__topNavBar_SignedIn--hidden': !isLoged}">
    <button type="button"  (click)="logout()">Log-out</button>
</div>
    </div>
</div>