* {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

label {
  color: black;
}
button {
  align-items:center;
  margin:10px;
}
input {
  border: 3px solid;
  border-radius: 10px;
  border-color: blue;
  margin:10px;
}
