<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <h2>Sign-in form</h2>
    <label>
      Email:
      <input type="text" formControlName="email" required>
    </label>
  
    <label>
      Password:
      <input type="text" formControlName="password" required>
    </label>
    <button type="submit" [disabled]="!signInForm.valid" [mat-dialog-close]="!signInForm.valid">Submit</button>
    <button type="button"  (click)="deleteCurrentUser()">Delete user</button>
    <p>
      Form Status: {{ signInForm.status }}
    </p>
  </form>
