<button class="clearCart" type="button" (click)="clearCart()">Clear cart</button>
<div class="container">
    <div class="container__element" *ngFor="let product of selectedProducts" >
 <p class="container__element__name">{{product?.name}}</p>
 <img [src]="product?.image">
 <p class="container__element__description">{{product?.description}}</p>
 <div class="container__element__buttonBlock">
 <button type="button" (click)="removeFromCart(product)">Remove from cart</button>
</div>
 </div>
 </div>