@import "src/app/constants/styles/stylesConstants.scss";
.clearCart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
.container{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    padding-top: 5vh;
    margin-bottom: 3%;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49% 49% 49% 49% 49% 49% 49%;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
    &__element{
        background-color: $mainThemeColor1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid;
        border-radius: 5px;
        &__name{
            display: flex;
            color: white;
            background-color: $mainThemeColor1;
            width: 100%;
            height: 10%;
            justify-content: center;
            align-items: center;
        }
        &__description{
            color: white;
            background-color: $mainThemeColor1;
            width: 100%;
            height: 10%;
            text-align: center;
            overflow: hidden;
            font-size: 2vh;
        }
        &__buttonBlock{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $mainThemeColor1;
            width: 100%;
            height: 10%;
            button{
                height: 100%;
                min-width: 100px;
                border: solid;
                border-radius: 5px;
            }
            &--hidden {
                display:none;}
        }
        img{
            display: flex;
            width: 100%;
            height: 70%;
        }
    }
}

@media screen and (max-device-width:800px), screen and (max-width:800px) {
    .container{
        width: 100%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        padding-top: 5vh;
        margin-bottom: 3%;
        padding-bottom: 3%;
      grid-template-columns: 100%;
      grid-template-rows: 100% 100% 100% 100%;
      grid-column-gap: 3%;
      grid-row-gap: 3%;
  }
}
  
  @media screen and (min-width:1200px) {
    .container{
        width: 100%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        padding-top: 5vh;
        margin-bottom: 3%;
      grid-template-columns: 32% 32% 32%;
      grid-template-rows: 49% 49% 49% 49% 49% 49% 49% 49%;
      grid-column-gap: 2%;
      grid-row-gap: 3%;
  }
}