@import "src/app/constants/styles/stylesConstants.scss";
.loaded_products{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    padding-top: 3%;
    margin-bottom: 3%;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49% 49% 49% 49% 49% 49% 49%;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
    &__element{
        background-color: $mainThemeColor1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid;
        border-radius: 5px;
        &__name{
            display: flex;
            color: white;
            background-color: $mainThemeColor1;
            width: 100%;
            height: 10%;
            justify-content: center;
            align-items: center;
        }
        &__description{
            color: white;
            background-color: $mainThemeColor1;
            width: 100%;
            height: 10%;
            text-align: center;
            overflow: hidden;
            font-size: 2vh;
        }
        &__buttonBlock{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $mainThemeColor1;
            width: 100%;
            height: 10%;
            button{
                height: 100%;
                min-width: 100px;
                border: solid;
                border-radius: 5px;
            }
            label{
                color: white;
                margin-left: 15%;
            }
            &--hidden {
                display:none;}
        }
        img{
            display: flex;
            width: 100%;
            height: 70%;
        }
    }
}

@media screen and (max-device-width:800px), screen and (max-width:800px) {
    .container{
        width: 100%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        padding-top: 3%;
        margin-bottom: 3%;
        padding-bottom: 3%;
      grid-template-columns: 100%;
      grid-template-rows: 100% 100% 100% 100%;
      grid-column-gap: 3%;
      grid-row-gap: 3%;
  }
}
  
  @media screen and (min-width:1200px) {
    .container{
        width: 100%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        padding-top: 3%;
        margin-bottom: 3%;
      grid-template-columns: 32% 32% 32%;
      grid-template-rows: 49% 49% 49% 49% 49% 49% 49% 49%;
      grid-column-gap: 2%;
      grid-row-gap: 3%;
  }
}

////////////////////////////////////

.search-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18vh;
}

.search-result{

  li {
    border-bottom: 1px solid $mainThemeColor1;
    border-left: 1px solid $mainThemeColor1;
    border-right: 1px solid $mainThemeColor1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }

}

  
  .search-result li:hover {
    background-color: $mainThemeColor3;
  }
  
  .search-result li a {
    width: 100%;
    color: $mainThemeColor1;
    display: block;
    text-decoration: none;
  }
  
  .search-result li a:hover {
    color: $mainThemeColor2;
  }
  .search-result li a:active {
    color: white;
  }
  #search-box {
    width: 30%;
    height: 25px;
    text-align: center;
  }
  
  
  ul.search-result {
    width: 30%;
    margin-top: 0;
    padding-left: 0;
  }