<div class="search-component">
      <h4>Products Search</h4>
    
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
      <button type="button" (click)="addToCart()"> Add to cart </button>
    
      <ul class="search-result">
        <li *ngFor="let product of productsToDisplay$ | async" (click)="openModal(product)">
            {{product.name}}
        </li>
      </ul>
    </div>
<div
      class="loaded_products"
      infiniteScroll
      [infiniteScrollDistance]="4"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">
<div class="container">
   <div class="container__element" *ngFor="let product of productsToDisplay" >
<p class="container__element__name">{{product?.name}}</p>
<img [src]="product.image" (click)="openModal(product) ">
<p class="container__element__description">{{product?.description}}</p>
<div class="container__element__buttonBlock" [ngClass]="{'container__element__buttonBlock--hidden': !isLogged}"> 
<button type="button" (click)="buyProductNow(product)">Buy now</button>
<label>Add to cart</label>
<input type="checkbox" (click)="selectProduct(product)" [value]=product>

</div>
</div>
</div>
</div>

  
