
    <div class="singleItemModal">
    <h1>{{data?.name}}</h1>
    <img src="{{data?.image}}">
    <p class="container__element__description">{{data?.description}}</p>
    <button type="button" click="addToCart()" [mat-dialog-close]="data.id" [ngClass]="{'singleItemModal--hidden': !isLogged}">Add to cart</button>
    </div>
