@import "src/app/constants/styles/stylesConstants.scss";
.singleItemModal{
    display: flex;
    flex-direction: column;
    //max-width: 500px;
    //max-height: 500px;
    height: 80vh;
    align-items: center;
    h1{
        text-align: center;
    }
    img{
        width: 100%;
        height: 50%;
    }
    p{
        font-size: auto;
        height: 30%;
    }
    button{
        height: 10%;
        width: 20%;
        background-color: $mainThemeColor3;
        border-radius: 5px;
    }
    &--hidden {
        display:none;}
}