.body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align:center;
    label {
        color:black;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        text-align:center;
      }
      button {
        align-items:center;
        margin:10px;
        width:50%
      }
  }
  
  

  
  input {
    border: 3px solid;
    border-radius: 10px;
    border-color: green;
    margin:10px;
    text-align: center;
  }
  
  
  .ng-valid[minLength],[maxLength], .ng-valid.minLength .ng-valid.maxLength {
    border: 3px solid green; 
    
  }
  .ng-invalid:not(form)  {
    border: 3px solid red; 
  }