<div class="body">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h2>Registration form</h2>
      <label>
        Email: Please insert your email
        <input type="text" formControlName="email" required>
      </label>
    
      <label>
        Password:  Must contain at least 6 symbols
        <input type="text" formControlName="password" required>
      </label>
      <label>
        Password again: Must be equal to the password field
        <input type="text" formControlName="passwordAgain" required>
      </label>
      <p>
        Form Status: {{ profileForm.status }}
      </p>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    
    </form>
    </div>
